.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.post-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid black;
  padding: 5px;
  border-radius: 50px;
}

.image-container {
  height: 350px;
  width: 350px;
}

.title {
  font-size: 20px;
}

.heading {
  text-align: center;
  font-size: 40px;
}

.post-div {
  height: 80vh;
  overflow-y: auto;
}
