* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/static/Inter-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/static/Inter-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: "Inter","Roboto Mono", monospace;
  background-color: #29bdc1;
  display: flex;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  text-align: center;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}
h1 {
  margin-bottom: 20px;
  color: #333333;
}
#counter {
  font-size: 4em;
  margin: 20px 0;
  color: #444444;
}
.buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1em;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  color: #ffffff;
}
#decrease {
  background-color: #d84242;
}
#increase {
  background-color: #6cc070;
}
#reset {
  background-color: #fff84e;
  color: #333333
}
.buttons button:hover {
  opacity: 0.9;
}

.input{
  padding: 30px 20px;
  margin: 0 10px;
  font-size: 1.2rem;
}

#inputNumber{
  margin: 0 10px;
 padding: 10px 20px;
}